.container {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    background-color: #ddd;
    margin-bottom: 5px;
}

.sidebar ul li:hover {
    background-color: #ccc;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #eaeaea;
}

.content-item {
    display: none;
}
    