<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primary Income Type</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

       
    </style>
</head>
<body>
    <div id="PrimaryIncomeType">
        <div id="header">
            <h1>Danh sách thu nhập chính</h1>
        </div>
        <div id="main_content">
            <table>
                <tr>
                    <th style=" background-color: #f2f2f2;"><button style="background-color: #4682B4; color: white; padding: 12px 24px; border-radius: 8px; font-size: 18px;">Thêm mới</button>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>