<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="HomePage.css"> 
</head>
<body>
    <div id="homepage">
        <div id="header">
            <div id="header1">
                <h1>Quản lý chi tiêu</h1>
            </div>
            <div id="header2">
                <p>Xin chào</p>
            </div>
            
        </div>
        <div id="main-content">
            <div id="sidebar">
                <h3 style="text-align: center;">Bảng điều khiển</h3>
                <ul>
                    <li><a href="">Thu nhập chính</a>
                        <ul class="submenu">
                            <li><a href="">Loại thu nhập</a></li>
                            <li><a href="">Khoản thu nhập</a></li>
                        </ul>
                    </li>
                    <li><a href="">Thu nhập phụ</a>
                        <ul class="submenu">
                            <li><a href="">Loại thu nhập</a></li>
                            <li><a href="">Khoản thu nhập</a></li>
                        </ul>
                    </li>
                    <li><a href="">Chi tiêu cố định</a>
                        <ul class="submenu">
                            <li><a href="">Loại chi tiêu</a></li>
                            <li><a href="">Khoản chi tiêu</a></li>
                        </ul>
                    </li>
                    <li><a href="">Chi tiêu phát sinh</a>
                        <ul class="submenu">
                            <li><a href="">Loại chi tiêu</a></li>
                            <li><a href="">Khoản chi tiêu</a></li>
                        </ul>
                    </li>
                    <li><a href="">Thống kê báo cáo</a>
                        <ul class="submenu">
                            <li><a href="">Ngày</a></li>
                            <li><a href="">Tháng</a></li>
                            <li><a href="">Năm</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="content">
                <h1>This is content</h1>
            </div>
        </div>
        <div id="footer">
            <p>This is footer</p>
        </div>
    </div>
</body>
</html>